@import url('https://fonts.googleapis.com/css2?family=Lakki+Reddy&family=Oswald:wght@200&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}
#background {
    height: 725px;
    background-color: silver;
}
#hero-msg h1, #her-msg h4 {
    text-align: center;
}
#hero-img {
    width: 100%;
}
#logo_link {
    padding-top: 5px;
}

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
body {
    background-color: #c1b098;
    font-family: "Oswald", sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;

}
header {
    background-color: #e9d2f4;
}
footer {
    background-color: #e9d2f4;
    padding: 25px 50px;
    margin-top: 200px;
}
footer .social img {
    padding-top: 15px;
}
footer h3 {
    color: slategrey;
}
footer a {
    color: slategrey;
    text-decoration: none;
}
footer a:hover {
    color: white;
    text-decoration: underline;
}
nav a:hover {
    background-color: pink;
    color: white;

}
h2 {
    margin: 0;
}
h4 {
    color: black;
}

.button-box {
    text-align: center;
}
.book, .join {
    background-color: antiquewhite;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: beige;
    color: blue;
}
.card-img {
    border: 10px solid #39393a;
}
.memories {
    color: black;
    font-family: "Oswald", sans-serif;
    text-align: center;
}
.titles {
    color: black;
    font-family: "Lakki Reddy", sans-serif;
}
.rivers-card {
    margin: 200px 0;
}
.camping-card {
    margin: 200px 0;
}
.rapids-card {
    margin: 200px 0;
}
.mountains {
    margin: 100px 0 200px;
    border: 10px solid #39393a;
}
.msg {
    background-color: bisque;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2 {
    color: goldenrod;
    font-family: "Lakki Reddy", sans-serif;
}
.msg p {
    color: black;
    font-family: "Oswald", sans-serif;
    font-size: .8em;
    padding-bottom: 15px;
}
.home-title {
    color: black;
    font-family: "Lakki Reddy", sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
